
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_layout.cshtml";
}


<link rel="stylesheet" href="~/css/Slider.css" />
<link rel="stylesheet" href="~/css/category-item.css" />
<link rel="stylesheet" href="~/css/product-item.css" />


<!--! Slider Start -->
<section class="slider">
    <div class="slider-elements">
        <div class="slider-item">
            <div class="slider-image">
                    <img src="images/img13.jpg" class="img" alt="">

            </div>
            <div class="container">
                <h2 class="slider-heading">Yıldızlı Ürünlerde Mega İndirim !</h2>

            </div>

        </div>

        <div class="slider-buttons">
            <button>
                <i class="bi bi-chevron-left"></i>
            </button>
            <button>
                <i class="bi bi-chevron-right"></i>
            </button>
        </div>

        <div class="slider-dots">
            <button class="slider-dot">
                <span></span>
            </button>
            <button class="slider-dot">
                <span></span>
            </button>
            <button class="slider-dot">
                <span></span>
            </button>
        </div>
    </div>
</section>

<!--! Slider End -->
<!--! Categories Start  -->
<section class="categories">
    <div class="container">
        <div class="section-title">
            <h2>Kategoriler</h2>
            <p>İstediğin binlerce ürün burada !</p>
        </div>
        <ul class="category-list">
            <li class="category-item">
                <a href="#">
                    <img src="images/atistirmalik10.png" alt="" class="img-thumbnail">
                    <span class="category-tittle">ATIŞTIRMALIK</span>
                </a>
            </li>
            <li class="category-item">
                <a href="#">
                    <img src="images/temelgida6.png" alt="" class="img-thumbnail">
                    <span class="category-tittle">TEMEL GIDA</span>
                </a>
            </li>
            <li class="category-item">
                <a href="#">
                    <img src="images/sütürünleri3.png" alt="" class="img-thumbnail">
                    <span class="category-tittle">SÜT ÜRÜNLERİ</span>
                </a>
            </li>
            <li class="category-item">
                <a href="#">
                    <img src="images/şarküteri4.png" alt="" class="img-thumbnail">
                    <span class="category-tittle">ŞARKÜTERİ</span>
                </a>
            </li>
            <li class="category-item">
                <a href="#">
                    <img src="images/kahvaltilik5.png" alt="" class="img-thumbnail">
                    <span class="category-tittle">KAHVALTILIK</span>
                </a>
            </li>
            <li class="category-item">
                <a href="#">
                    <img src="images/fırından1.png" alt="" class="img-thumbnail">
                    <span class="category-tittle">TAZE / FIRINDAN</span>
                </a>

            </li>
        </ul>
    </div>
</section>
<!--! Categories End  -->
<!--! Products Start  -->
<section class="products">
    <div class="container">
        <div class="section-title">
            <h2>Yılın Yıldızları</h2>
            <p class="camptext">2023 Yılı En Çok Satan Ürünler</p>
        </div>
        <div class="product-wrapper">
            <ul class="product-list">
                <li class="product-item">
                    <div class="product-image">
                        <a href="#">
                            <img src="~/images/ürün8.jpg" alt="" class="img1">
                            <img src="~/images/ürün8.jpg" alt="" class="img2">

                        </a>
                    </div>
                    <div class="product-info">
                        <a href="$" class="product-title">Yayla Osmancık Pirinç</a>
                        <ul class="product-star">
                            <li>
                                <i class="bi bi-star-fill"></i>
                            </li>
                            <li>
                                <i class="bi bi-star-fill"></i>
                            </li>
                            <li>
                                <i class="bi bi-star-fill"></i>
                            </li>
                            <li>
                                <i class="bi bi-star-fill"></i>
                            </li>
                            <li>
                                <i class="bi bi-star-half"></i>
                            </li>
                        </ul>
                        <div class="product-prices">

                            <strong class="new-price">89,90 TL</strong>
                            <span class="old-price">129,90 TL</span>
                        </div>
                        <span class="product-discount">-17%</span>
                        <div class="product-links">
                            <button>
                                <i class="bi bi-basket-fill"></i>
                            </button>
                            <button>
                                <i class="bi bi-heart-fill"></i>
                            </button>
                            <a href="#">
                                <i class="bi bi-eye-fill"></i>
                            </a>
                            <a href="#">
                                <i class="bi bi-share-fill"></i>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="product-item">
                    <div class="product-image">
                        <a href="#">
                            <img src="~/images/ürün3.jpg" alt="" class="img1">
                            <img src="~/images/ürün3.jpg" alt="" class="img2">
                        </a>
                    </div>
                    <div class="product-info">
                        <a href="$" class="product-title">
                            NUTELLA 750GR KAVANOZ
                        </a>
                        <ul class="product-star">
                            <li>
                                <i class="bi bi-star-fill"></i>
                            </li>
                            <li>
                                <i class="bi bi-star-fill"></i>
                            </li>
                            <li>
                                <i class="bi bi-star-fill"></i>
                            </li>
                            <li>
                                <i class="bi bi-star-fill"></i>
                            </li>
                            <li>
                                <i class="bi bi-star-half"></i>
                            </li>
                        </ul>
                        <div class="product-prices">
                            <strong class="new-price">349,90 TL</strong>
                            <span class="old-price">429,90 TL</span>
                        </div>
                        <span class="product-discount">-17%</span>
                        <div class="product-links">
                            <button>
                                <i class="bi bi-basket-fill"></i>
                            </button>
                            <button>
                                <i class="bi bi-heart-fill"></i>
                            </button>
                            <a href="#">
                                <i class="bi bi-eye-fill"></i>
                            </a>
                            <a href="#">
                                <i class="bi bi-share-fill"></i>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="product-item">
                    <div class="product-image">
                        <a href="#">
                            <img src="~/images/ürün6.jpg" alt="" class="img1">
                            <img src="~/images/ürün6.jpg" alt="" class="img2">
                        </a>
                    </div>
                    <div class="product-info">
                        <a href="$" class="product-title">Yayla Kırmızı Mercimek</a>
                        <ul class="product-star">
                            <li>
                                <i class="bi bi-star-fill"></i>
                            </li>
                            <li>
                                <i class="bi bi-star-fill"></i>
                            </li>
                            <li>
                                <i class="bi bi-star-fill"></i>
                            </li>
                            <li>
                                <i class="bi bi-star-fill"></i>
                            </li>
                            <li>
                                <i class="bi bi-star-half"></i>
                            </li>
                        </ul>
                        <div class="product-prices">
                            <strong class="new-price">69,90 TL</strong>
                            <span class="old-price">89,90 TL</span>
                        </div>
                        <span class="product-discount">-17%</span>
                        <div class="product-links">
                            <button>
                                <i class="bi bi-basket-fill"></i>
                            </button>
                            <button>
                                <i class="bi bi-heart-fill"></i>
                            </button>
                            <a href="#">
                                <i class="bi bi-eye-fill"></i>
                            </a>
                            <a href="#">
                                <i class="bi bi-share-fill"></i>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="product-item">
                    <div class="product-image">
                        <a href="#">
                            <img src="~/images/ürün7.jpg" alt="" class="img1">
                            <img src="~/images/ürün7.jpg" alt="" class="img2">
                        </a>
                    </div>
                    <div class="product-info">
                        <a href="$" class="product-title">Lipton Doğu Karadeniz Dökme Çay</a>
                        <ul class="product-star">
                            <li>
                                <i class="bi bi-star-fill"></i>
                            </li>
                            <li>
                                <i class="bi bi-star-fill"></i>
                            </li>
                            <li>
                                <i class="bi bi-star-fill"></i>
                            </li>
                            <li>
                                <i class="bi bi-star-fill"></i>
                            </li>
                            <li>
                                <i class="bi bi-star-half"></i>
                            </li>
                        </ul>
                        <div class="product-prices">
                            <strong class="new-price">219,90 TL</strong>
                            <span class="old-price">179,90 TL</span>

                        </div>
                        <span class="product-discount">-17%</span>
                        <div class="product-links">
                            <button>
                                <i class="bi bi-basket-fill"></i>
                            </button>
                            <button>
                                <i class="bi bi-heart-fill"></i>
                            </button>
                            <a href="#">
                                <i class="bi bi-eye-fill"></i>
                            </a>
                            <a href="#">
                                <i class="bi bi-share-fill"></i>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<!--! Products End  -->