
@{
    ViewData["Title"] = "Kategoriler";
    Layout = "~/Views/_layout.cshtml";
}


<link rel="stylesheet" href="~/css/Header.css" />

<link rel="stylesheet" href="~/css/category-item.css" />




<!--! Categories Start  -->
<section class="categories">
    <div class="container">
        <div class="section-title">
            <h2>Kategoriler</h2>
            <p>İstediğin binlerce ürün burada !</p>
        </div>
        <ul class="category-list">
            <li class="category-item">
                <a href="#">
                    <img src="~/images/atistirmalik10.png" alt="" class="img-thumbnail">
                    <span class="category-tittle">ATIŞTIRMALIK</span>
                </a>
            </li>
            <li class="category-item">
                <a href="#">
                    <img src="~/images/temelgida6.png" alt="" class="img-thumbnail">
                    <span class="category-tittle">TEMEL GIDA</span>
                </a>
            </li>
            <li class="category-item">
                <a href="#">
                    <img src="~/images/sütürünleri3.png" alt="" class="img-thumbnail">
                    <span class="category-tittle">SÜT ÜRÜNLERİ</span>
                </a>
            </li>
            <li class="category-item">
                <a href="#">
                    <img src="~/images/şarküteri4.png" alt="" class="img-thumbnail">
                    <span class="category-tittle">ŞARKÜTERİ</span>
                </a>
            </li>
            <li class="category-item">
                <a href="#">
                    <img src="~/images/kahvaltilik5.png" alt="" class="img-thumbnail">
                    <span class="category-tittle">KAHVALTILIK</span>
                </a>
            </li>
            <li class="category-item">
                <a href="#">
                    <img src="~/images/fırından1.png" alt="" class="img-thumbnail">
                    <span class="category-tittle">TAZE / FIRINDAN</span>
                </a>

            </li>
        </ul>
    </div>
</section>
<!--! Categories End  -->
